In [333]:
import keyword

In [334]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [3]:
keyword.iskeyword('if')

True

In [4]:
keyword.iskeyword('tutu')

False

In [5]:
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
len(keyword.kwlist)

33

### **``Identifiers``**

In [7]:
global_x = 1

In [8]:
global_x

1

In [9]:
global_x == 2

False

### **``Comments``**

In [10]:
"""
This is the next chapter of 
the 
module
1
"""

'\nThis is the next chapter of \nthe \nmodule\n1\n'

### **``Multi-line Statements``**

In [11]:
1 + 2 + 3 +\
4 + 5

15

### **``Python Memory Storage Location``**

In [12]:
rajesh = 30

In [13]:
id(rajesh)

1600029712

In [14]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [15]:
ram = 30

In [16]:
id(ram)

1600029712

In [17]:
jai = 32

In [18]:
id(jai)

1600029776

In [19]:
1705346128 - 1705346064

64

In [20]:
jeetu = 33

In [21]:
id(jeetu)

1600029808

In [22]:
1705346160 - 1705346128

32

In [23]:
jitendra = 44

In [24]:
id(jitendra)

1600030160

In [25]:
1705346512 - 1705346160

352

In [26]:
name = 'rajesh'

In [27]:
id(name)

2391318510312

In [28]:
last_name = 'sharma'

In [29]:
id(last_name)

2391318560528

In [30]:
first_name = 'rajesh'

In [31]:
id(first_name)

2391318510312

In [32]:
id(name) == id(first_name)

True

In [33]:
x = 257

In [34]:
id(x)

2391318317392

In [35]:
x = 30

In [36]:
id(x)

1600029712

In [37]:
rajesh = 257

In [38]:
id(rajesh)

2391318317744

In [39]:
rajesh = x

In [40]:
id(rajesh)

1600029712

In [41]:
y=268

In [42]:
id(y)

2391318317936

In [43]:
rajesh = 268

In [44]:
id(y), id(rajesh)

(2391318317936, 2391318318064)

#### **Scenario:I**

In [45]:
z = 306

In [46]:
id(z)

2391318318160

In [47]:
p = 887

In [48]:
id(z), id(p)

(2391318318160, 2391318318352)

In [49]:
p = 306

In [50]:
id(z), id(p)

(2391318318160, 2391318318384)

In [51]:
z = 887

In [52]:
id(z), id(p)

(2391318318352, 2391318318384)

#### **Scenario-II**

In [53]:
ww = 'raman' ## 'raman' is created here and assigned a memory location ending with 248

In [54]:
id(ww)

2391318635440

In [55]:
yy = 'taman' ## 'taman' is created here and assigned a memory location ending with 328

In [56]:
id(ww), id(yy)

(2391318635440, 2391318636896)

In [57]:
yy = 'raman' ## Before running this line both 'raman' and 'taman' already exist in the memory thus this line links or tags the yy with 
             ## memory location with 'raman' thats ending with 248

In [58]:
id(ww), id(yy) ## Now, 'taman' no more exists

(2391318635440, 2391318635440)

In [59]:
ww = 'taman' ## Here, we are initializing 'taman' to ww, now in this line 'taman' will be created as a fresh string, 
             ## thus gets a new memory location

In [60]:
id(ww), id(yy)

(2391317343176, 2391318635440)

In [61]:
ww = yy

In [62]:
id(ww), id(yy)

(2391318635440, 2391318635440)

#### **Scenario-II : Solved**

In [63]:
ww = 'bat'

In [64]:
id(ww)

2391289260832

In [65]:
yy = 'taman'

In [66]:
id(ww), id(yy)

(2391289260832, 2391318648680)

In [67]:
xx = 'bat'

In [68]:
id(ww), id(yy), id(xx)

(2391289260832, 2391318648680, 2391289260832)

In [69]:
ww = 'taman'

In [70]:
id(ww), id(yy), id(xx)

(2391318648680, 2391318648680, 2391289260832)

In [71]:
ww = yy

In [72]:
id(ww), id(yy)

(2391318648680, 2391318648680)

#### **Scenario:III**

In [73]:
ppp = 259

In [74]:
qqq = 209

In [75]:
id(ppp), id(qqq)

(2391317365264, 1600035440)

In [76]:
qqq = 259

In [77]:
id(ppp), id(qqq)

(2391317365264, 2391317364880)

##### **Python allocates the same memory location in case of integers when values are between the range of [-5, 256]. If values are outside this range then new memory location is used.**
##### **It is the pure python implementation as they believed that mostly integers of this range are used frequently.**

### **``Tuples``**

In [78]:
tup = ('ram','kumar','sharma','bharadwaj','saanvlodiya')

In [79]:
tup

('ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [80]:
empty_tuple, single_element_tuple = tuple(), ('manohar')

In [81]:
empty_tuple, len(empty_tuple), type(empty_tuple), single_element_tuple, len(single_element_tuple), type(single_element_tuple)

((), 0, tuple, 'manohar', 7, str)

In [82]:
empty_tuple, single_element_tuple = tuple(), ('manohar',)

In [83]:
empty_tuple, len(empty_tuple), type(empty_tuple), single_element_tuple, len(single_element_tuple), type(single_element_tuple)

((), 0, tuple, ('manohar',), 1, tuple)

#### **The difference between the ('manohar') and ('manohar',) is that w/o comma(,) python will take it as a string else a tuple.**

In [84]:
tup[0], tup[-1]

('ram', 'saanvlodiya')

In [85]:
tup[::-1]

('saanvlodiya', 'bharadwaj', 'sharma', 'kumar', 'ram')

In [86]:
tup[::-2]

('saanvlodiya', 'sharma', 'ram')

In [87]:
tup

('ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [88]:
'hari', *tup

('hari', 'ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [89]:
'hari', *tup[0:2]

('hari', 'ram', 'kumar')

In [90]:
'hari', *tup[::-1]

('hari', 'saanvlodiya', 'bharadwaj', 'sharma', 'kumar', 'ram')

In [91]:
'hari', *tup[::-2]

('hari', 'saanvlodiya', 'sharma', 'ram')

### Editing a tuple

#### CASE-I :: Using List

In [92]:
tup = list(tup)

In [93]:
tup

['ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya']

In [94]:
tup[0] = 'jai'

In [95]:
tup = tuple(tup)

In [96]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

#### CASE-II :: Using Starred expression 
##### **By using * we can unpack the elements of the iterables and ** we can unpack the elements or values of dictionaries**

In [97]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [98]:
'hari', *tup[0:]

('hari', 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [99]:
'hari', *tup[1:]

('hari', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [100]:
'hari', 300, *tup[0:]

('hari', 300, 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [101]:
"{}".format(tup)

"('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')"

#### **SETS are mutable but frozensets are not**

In [102]:
set_a = {1,2,3,4,4}

In [103]:
set_a

{1, 2, 3, 4}

In [104]:
set_a.add(("Rama","Shyama"))

In [105]:
set_a

{('Rama', 'Shyama'), 1, 2, 3, 4}

In [106]:
set_a.add("Cat")

In [107]:
set_a

{('Rama', 'Shyama'), 1, 2, 3, 4, 'Cat'}

In [108]:
frozen_set_b = frozenset((1,2,3,4,5,5))
frozen_set_b

frozenset({1, 2, 3, 4, 5})

In [109]:
frozen_set_b.add(a)

AttributeError: 'frozenset' object has no attribute 'add'

In [110]:
frozen_set_b.intersection(set_a)

frozenset({1, 2, 3, 4})

In [111]:
new_list = [100,200,300,400,500,'raje']

In [112]:
1, *(1,2,3,4,(5,6,7)), type((1, *(1,2,3,4,(5,6,7))))

(1, 1, 2, 3, 4, (5, 6, 7), tuple)

In [113]:
a =()
a

()

In [114]:
new_list

[100, 200, 300, 400, 500, 'raje']

In [115]:
'a', *new_list, type(('a', *new_list))

('a', 100, 200, 300, 400, 500, 'raje', tuple)

In [116]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [117]:
players_dict.get('nam')

In [118]:
players_dict.get('name'), players_dict.get('best_score')

(['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'],
 [100, 200, 300, 400, 500])

In [119]:
players_dict

{'name': ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'],
 'best_score': [100, 200, 300, 400, 500]}

In [120]:
'{}'.format(tup), 'a',*tup

("('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')",
 'a',
 'jai',
 'kumar',
 'sharma',
 'bharadwaj',
 'saanvlodiya')

In [121]:
type('{}'.format(tup))

str

In [122]:
unpacked_tuple = '{}'.format(tup)

In [123]:
unpacked_tuple.split("'")[1::2]

['jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya']

In [124]:
'{name}{best_score}'.format(**players_dict)

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]"

In [125]:
"{name}".format(**players_dict)

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']"

In [126]:
"{best_score}".format(**players_dict)

'[100, 200, 300, 400, 500]'

In [127]:
def dict_print(d):
    print("{name}{best_score}".format(**d))

In [128]:
dict_print(players_dict)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]

In [129]:
dict_unpacked = "{name}{best_score}".format(**players_dict)

In [130]:
type(dict_unpacked)

str

In [131]:
dict_unpacked

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]"

In [132]:
dict_unpacked.split("][")

["['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'",
 '100, 200, 300, 400, 500]']

In [133]:
for val in dict_unpacked.split("]["):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'
100, 200, 300, 400, 500]

In [134]:
player_name = "{name}".format(**players_dict)
player_score = "{best_score}".format(**players_dict)

In [135]:
player_name

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']"

In [136]:
type(player_name)

str

In [137]:
for val in player_name.split('"'):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [138]:
player_score

'[100, 200, 300, 400, 500]'

In [139]:
type(player_score)

str

In [140]:
for val in player_score.split('"'):
    print(val)

[100, 200, 300, 400, 500]

In [141]:
players_dict['name']

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [142]:
players_dict.keys()

dict_keys(['name', 'best_score'])

In [143]:
players_dict.values()

dict_values([['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'], [100, 200, 300, 400, 500]])

In [144]:
help(__builtins__.__doc__)

No Python documentation found for "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.".
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [145]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### **``OPERATORS``**

In [146]:
## + , - , / , * , ** , % , // 
x, y = 15, 2 

print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x**y)
print(x//y)
print(x%y)

17
13
7.5
30
225
7
1

In [147]:
15**2

225

In [148]:
15%2

1

In [149]:
(-15%2)

1

In [150]:
-15/2

-7.5

In [151]:
(-15//2)

-8

In [152]:
15.9/2

7.95

In [153]:
(15//2)

7

In [154]:
pp = ()

In [155]:
type(pp)

tuple

In [156]:
1+2+3+\
4+5

15

In [157]:
10&4, 10|5, 1|2, 10&8

(0, 15, 3, 8)

In [158]:
a = b =4
i=0
while i in range(0,4):
    if a == b:
        print('hello')
        i+=1
    continue
    print('ramu')

hello
hello
hello
hello

In [159]:
test_tup = (12,3,4,5,66,)
print(isinstance(a,tuple))
print(isinstance(test_tup,tuple))
print(isinstance(test_tup,(tuple,list)))

False
True
True

In [160]:
bool(10)

True

In [161]:
x = [10,20,12,30,40,50,60,70,80,90]

In [162]:
list(reversed(x)), sorted(x)

([90, 80, 70, 60, 50, 40, 30, 12, 20, 10],
 [10, 12, 20, 30, 40, 50, 60, 70, 80, 90])

In [163]:
a,b,c = 10,20,30

In [164]:
print(a is b)
print(b is c)
print(a is c)
print(a is not b)
print(b is not c)
print(a is not c)

False
False
False
True
True
True

In [165]:
a in x, b in x, c in x, a not in x, b not in x, c not in x

(True, True, True, False, False, False)

In [166]:
1&2, 1|2

(0, 3)

In [167]:
(3==3) & (1==2)

False

In [168]:
2&4

0

In [169]:
if (3==3) & (1&2):
    print('hello')
else:
    print('not matched')

not matched

In [170]:
10<<4

160

In [171]:
30 is not 30

False

In [172]:
30 is not 35

True

### **``WHILE with ELSE``**

#### **``User-defined exception``**

In [173]:
class Error(Exception):
    pass

class LengthGreater(Error):
    val_new = 10
    val_old = 14
    pass

class LengthSmaller(Error):
    val_old = 18
    pass

In [174]:
hasattr(LengthGreater,'val_new')

True

In [175]:
hasattr(LengthSmaller,'val_new'), hasattr(LengthSmaller,'val_old')

(False, True)

In [176]:
getattr(LengthSmaller,'val_old')

18

In [177]:
try:
    player_runs = []
    idx = 0
    total_runs = 0
    scores = input("Enter batsment scores of last 5 five matches(comma separated)\n>")
    player_runs = [int(val) for val in scores.split(",")]
except ValueError as exception:
    print('\n',exception.__class__.__name__ +' :: '+ 'Wrong input or no input. ' + str(exception),'\n')

try:
    if len(player_runs) > 5:
        length = len(player_runs)
        print("Provided scores are {}".format(player_runs))
        player_runs = player_runs[::-1][0:5]
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        raise LengthGreater
    elif len(player_runs) < 5 and len(player_runs) > 0:
        length = len(player_runs)
        print(player_runs)
        raise LengthSmaller
    elif len(player_runs) == 0:
        print("Kindly check the entered data.")
    else:
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        else:
            print('Reached higher index','\n')
except IndexError as exception:
    print(exception.__class__.__name__ +' :: '+ str(exception),'\n')
except LengthSmaller:
    print("You have entered scores of last {} matches. Kindly enter scores of last 5 matches.".format(length))
except LengthGreater:
    print("You have entered scores of last {} matches. We have considered the scores of only last 5 matches.".format(length))
finally:
    if total_runs > 400:
        print("\nBatsmen in really good form with an average score of {} in last 5 matches.".format(round(total_runs/5),2))
    elif total_runs == 0:
        print("")
    else:
        print("\nBatsmen average score is {} in last 5 matches.".format(round(total_runs/5),2))

Enter batsment scores of last 5 five matches(comma separated)
> 6,7,8,9,2,4,5

Provided scores are [6, 7, 8, 9, 2, 4, 5]
Last 5 matches scores are [5, 4, 2, 9, 8]
5

9

11

20

28

You have entered scores of last 7 matches. We have considered the scores of only last 5 matches.

Batsmen average score is 6 in last 5 matches.

In [178]:
abs(-10), abs(0), abs(False), abs(True)

(10, 0, 0, 1)

In [179]:
bool(9),bool(0),bool(1),bool(True),bool('True'),bool('False'),bool(False)

(True, False, True, True, True, True, False)

In [180]:
all([3,4,5,6,7,8,'m','True','False',True,False])

False

In [181]:
all([3,4,5,6,7,8,'m','True','False',True])

True

In [182]:
any([3,4,5,6,7,8,'m','True','False',True,False])

True

In [183]:
any(['False',False])

True

In [184]:
divmod(15.5,2)

(7.0, 1.5)

In [185]:
from functools import reduce

In [186]:
(lambda x, y : x + y)(2,3)

5

In [187]:
add_lambda = lambda x,y:x+y

In [188]:
reduce(add_lambda, [1, 2, 3, 4, 5])

15

In [189]:
filter_lambda = lambda x: x%2==0

In [190]:
list(filter(filter_lambda,[1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [191]:
map_lambda = lambda x: x**2

In [192]:
list(map(map_lambda,[1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [193]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [194]:
for i,j in enumerate(players_dict):
    print(i,"--> Index")
    print(j,"--> key")

0 --> Index
name --> key
1 --> Index
best_score --> key

In [195]:
for i, (k,v) in enumerate(players_dict.items()):
    print("key :: {}".format(k))
    print("Values :: {}".format(v))

key :: name
Values :: ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']
key :: best_score
Values :: [100, 200, 300, 400, 500]

In [196]:
hasattr(players_dict,'keys'),hasattr(players_dict,'values'), hasattr(players_dict,'suresh'),hasattr(players_dict,'best_score')

(True, True, False, False)

In [197]:
getattr(players_dict,'keys'), getattr(players_dict,'values')

(<function dict.keys>, <function dict.values>)

In [198]:
class players:
    name = 'Rama'
    last_name = 'Shyama'

In [199]:
hasattr(players,'name')

True

In [200]:
getattr(players,'name')

'Rama'

### **``FOR LOOPS``**

##### **STEP-WISE printing the numbers**

In [201]:
for i in range(4,41,4):
    print(i, i//3)

4 1
8 2
12 4
16 5
20 6
24 8
28 9
32 10
36 12
40 13

### **``BREAK and CONTINUE``**

In [202]:
nums = [num for num in range(1,21)]

In [203]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### **``BREAK the WHILE Loop after incrementing the value of i``**

In [204]:
i = 1
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    break;
    print('Outise HI')

1
2
4

In [205]:
i = 1.0
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    continue;
    print('Outise HI')

Inside HI
3.0
Inside HI
5.0
Inside HI
7.0
Inside HI
9.0
Inside HI
11.0
Inside HI
13.0
Inside HI
15.0
Inside HI
17.0
Inside HI
19.0
Inside HI
21.0

##### **BREAK doesn't execute any code written after break command and CONTINUE restart the LOOP as soon it reads the continue statement.**

#### **``ODD and EVEN numbers via single FOR Loop``**

In [206]:
for val in nums:
    if val % 2 == 0:
        print('Even number',val)
        continue
    print('Odd number', val)

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10
Odd number 11
Even number 12
Odd number 13
Even number 14
Odd number 15
Even number 16
Odd number 17
Even number 18
Odd number 19
Even number 20

### **``LISTS``**

In [207]:
names = ['dhoni','rahul','sachin']

In [208]:
names

['dhoni', 'rahul', 'sachin']

In [209]:
names.append('raja')

In [210]:
names

['dhoni', 'rahul', 'sachin', 'raja']

In [211]:
names.insert(1,'kumble')

In [212]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'raja']

In [213]:
names.remove('raja')

In [214]:
names

['dhoni', 'kumble', 'rahul', 'sachin']

In [215]:
names.extend(['kohli','ishant'])

In [216]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'kohli', 'ishant']

In [217]:
names.append(['mayank',20])

In [218]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [219]:
names.pop(2)

'rahul'

In [220]:
names

['dhoni', 'kumble', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [221]:
del names[0]

In [222]:
names

['kumble', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [223]:
names.reverse()

In [224]:
score = [10,20,30,40]

In [225]:
score.sort(reverse=True)

In [226]:
score

[40, 30, 20, 10]

In [227]:
names.extend(['a','bb','ccc','dddddddd'])

In [228]:
names

[['mayank', 20],
 'ishant',
 'kohli',
 'sachin',
 'kumble',
 'a',
 'bb',
 'ccc',
 'dddddddd']

In [229]:
def return_len(val):
    return len(val)

In [230]:
return_len(names[2])

5

In [231]:
score

[40, 30, 20, 10]

In [232]:
score.extend([5,90,12,19,15,29,56])

In [233]:
score

[40, 30, 20, 10, 5, 90, 12, 19, 15, 29, 56]

In [234]:
score.sort()

In [235]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [236]:
names[1:]

['ishant', 'kohli', 'sachin', 'kumble', 'a', 'bb', 'ccc', 'dddddddd']

In [237]:
sorted(names[1:],key=return_len)

['a', 'bb', 'ccc', 'kohli', 'ishant', 'sachin', 'kumble', 'dddddddd']

In [238]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [239]:
score[::2]

[5, 12, 19, 29, 40, 90]

In [240]:
score[2::2]

[12, 19, 29, 40, 90]

In [241]:
score[::2] + score[2::2]

[5, 12, 19, 29, 40, 90, 12, 19, 29, 40, 90]

In [242]:
(score[::2] + score[2::2]).count(12)

2

In [243]:
(score[::2] + score[2::2]).count(90)

2

In [244]:
for val in (score[::2] + score[2::2]):
    print(val)

5
12
19
29
40
90
12
19
29
40
90

In [332]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [245]:
for idx in range(len((score[::2] + score[2::2]))):
    print(idx)

0
1
2
3
4
5
6
7
8
9
10

In [246]:
[((num/2),num) for num in range(4,41,4)]

[(2.0, 4),
 (4.0, 8),
 (6.0, 12),
 (8.0, 16),
 (10.0, 20),
 (12.0, 24),
 (14.0, 28),
 (16.0, 32),
 (18.0, 36),
 (20.0, 40)]

#### **``Transpose a MATRIX using LISTS``**

In [247]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [248]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [249]:
lst = []

for i in range(0,4):
    tmp_lst = []
    for row in matrix:
        print(row)
        print(row[i])
        print('----')
        tmp_lst.append(row[i])
    lst.append(tmp_lst)

print(lst)
print('****')
print(tmp_lst)

[1, 2, 3, 4]
1
----
[5, 6, 7, 8]
5
----
[9, 10, 11, 12]
9
----
[1, 2, 3, 4]
2
----
[5, 6, 7, 8]
6
----
[9, 10, 11, 12]
10
----
[1, 2, 3, 4]
3
----
[5, 6, 7, 8]
7
----
[9, 10, 11, 12]
11
----
[1, 2, 3, 4]
4
----
[5, 6, 7, 8]
8
----
[9, 10, 11, 12]
12
----
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
****
[4, 8, 12]

In [250]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [251]:
[[row[i] for row in matrix] for i in range(0,4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [252]:
mixed_lst = [(1,2,3,4,5),4,5,6,7,[6,7,8,9]]

In [253]:
mixed_lst

[(1, 2, 3, 4, 5), 4, 5, 6, 7, [6, 7, 8, 9]]

In [254]:
type(mixed_lst)

list

In [255]:
mixed_tuple = (12,3,4,5,[4,5,6,7],[5,6,7,8])

In [256]:
mixed_tuple

(12, 3, 4, 5, [4, 5, 6, 7], [5, 6, 7, 8])

In [257]:
type(mixed_tuple)

tuple

##### **``TUPLES of Single ELEMENT``**

In [258]:
single_el_tup = ('rajesh',)

In [259]:
single_el_tup

('rajesh',)

In [260]:
type(single_el_tup)

tuple

In [261]:
singl_el = ('rajesh',1,2,3)

In [262]:
singl_el

('rajesh', 1, 2, 3)

In [263]:
type(singl_el)

tuple

In [264]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [265]:
score[0:4] * 2

[5, 10, 12, 15, 5, 10, 12, 15]

In [266]:
(single_el_tup * 4)

('rajesh', 'rajesh', 'rajesh', 'rajesh')

In [267]:
del single_el_tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [268]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [269]:
new_score = score[-5:-1]

In [270]:
new_score

[29, 30, 40, 56]

In [271]:
tuple(score[-9:-2])

(12, 15, 19, 20, 29, 30, 40)

In [272]:
tuple(sorted(score[-9:-2],reverse=True))

(40, 30, 29, 20, 19, 15, 12)

### **``SET``**
#### **One important point with sets is that it used flower braces for its definition. However, by using the same flower braces dictionaries are also defined. Having said that the beauty of python is if we define key and values inside flower braces then it will treat it as a dictionary else it will treat it as a SET.**

In [273]:
set1 = {1,2,3,4,5}

In [274]:
type(set1)

set

In [275]:
set1

{1, 2, 3, 4, 5}

In [276]:
set1.update([3,4,5,6,7,8,'rajesh'])

In [277]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'rajesh'}

In [278]:
set1.add(10)

In [279]:
set1

{1, 10, 2, 3, 4, 5, 6, 7, 8, 'rajesh'}

In [280]:
set1.update((1,11,22), [33,44,55,66,0])

In [281]:
set1

{0, 1, 10, 11, 2, 22, 3, 33, 4, 44, 5, 55, 6, 66, 7, 8, 'rajesh'}

In [282]:
set1.discard(66)

In [283]:
set1

{0, 1, 10, 11, 2, 22, 3, 33, 4, 44, 5, 55, 6, 7, 8, 'rajesh'}

In [284]:
set1.remove(4)

In [285]:
set1

{0, 1, 10, 11, 2, 22, 3, 33, 44, 5, 55, 6, 7, 8, 'rajesh'}

In [286]:
set1.pop()

0

In [287]:
set1

{1, 10, 11, 2, 22, 3, 33, 44, 5, 55, 6, 7, 8, 'rajesh'}

In [288]:
set1.clear()

In [289]:
set1

set()

In [290]:
A = {1,2,3,4,5}

B = {3,4,5,6,7}

In [291]:
A.symmetric_difference(B)        # Unique of both the sets means only A and only B elements

{1, 2, 6, 7}

##### **``1. Starred Expression``**

In [292]:
{*(A - B),*(B - A)}

{1, 2, 6, 7}

##### **``2. Normal SET operations``**

In [293]:
(A - B).union(B - A)

{1, 2, 6, 7}

In [294]:
(A.difference(B).union(B.difference(A))).intersection(A.union(B))

{1, 2, 6, 7}

In [295]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [296]:
A.intersection(B)

{3, 4, 5}

In [297]:
A & B

{3, 4, 5}

In [298]:
A | B

{1, 2, 3, 4, 5, 6, 7}

In [299]:
A - B                  # elements which are in A but not in B

{1, 2}

In [300]:
B - A                  # elements which are in B but not in A

{6, 7}

In [301]:
A.symmetric_difference(B)

{1, 2, 6, 7}

In [302]:
A ^ B

{1, 2, 6, 7}

In [303]:
C = {3,4,5}

In [304]:
C.issubset(A)

True

In [305]:
C.issuperset(B)

False

In [306]:
B.issuperset(C)

True

In [307]:
A[1:]

TypeError: 'set' object is not subscriptable

### **``Frozen SETS``**

##### **These are the fixed or unchangable SETS.**

In [308]:
AA = frozenset({1,2,3,4})

In [309]:
BB = frozenset({3,4,5,6})

In [310]:
AA - BB

frozenset({1, 2})

In [311]:
BB- AA

frozenset({5, 6})

In [312]:
AA.union(BB)

frozenset({1, 2, 3, 4, 5, 6})

In [313]:
BB.union(AA)

frozenset({1, 2, 3, 4, 5, 6})

In [314]:
BB.intersection(AA)

frozenset({3, 4})

In [315]:
AA.intersection(BB)

frozenset({3, 4})

#### **``Deep v/s Shallow Copy``**
##### **Deep copy -- Altogether creates a new object with the content of copied object. Both objects are independent and with no references to each other. Use .copy()**
##### **Shallow copy -- A new object is created with a reference to the memory location of the parent or copied object.**

In [316]:
csk = ['Dhoni','Ambati','Raina']

In [317]:
id(csk)

2391335506504

In [318]:
mps = csk

In [319]:
id(mps), id(csk)

(2391335506504, 2391335506504)

In [320]:
mps

['Dhoni', 'Ambati', 'Raina']

In [321]:
new_team = csk.copy()

In [322]:
id(new_team)

2391336591560

In [323]:
new_team

['Dhoni', 'Ambati', 'Raina']

In [324]:
csk.append('Bravo')

In [325]:
csk

['Dhoni', 'Ambati', 'Raina', 'Bravo']

In [326]:
id(csk)

2391335506504

In [327]:
mps

['Dhoni', 'Ambati', 'Raina', 'Bravo']

In [328]:
id(mps)

2391335506504

In [329]:
new_team

['Dhoni', 'Ambati', 'Raina']

In [330]:
id(new_team)

2391336591560