In [1]:
import keyword

In [2]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [3]:
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
len(keyword.kwlist)

33

### **``Identifiers``**

In [5]:
global_x = 1

In [6]:
global_x

1

In [7]:
global_x == 2

False

### **``Comments``**

In [8]:
"""
This is the next chapter of 
the 
module
1
"""

'\nThis is the next chapter of \nthe \nmodule\n1\n'

### **``Multi-line Statements``**

In [9]:
1 + 2 + 3 +\
4 + 5

15

### **``Python Memory Storage Location``**

In [10]:
rajesh = 30

In [11]:
id(rajesh)

1705346064

In [12]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [13]:
ram = 30

In [14]:
id(ram)

1705346064

In [15]:
jai = 32

In [16]:
id(jai)

1705346128

In [17]:
1705346128 - 1705346064

64

In [18]:
jeetu = 33

In [19]:
id(jeetu)

1705346160

In [20]:
1705346160 - 1705346128

32

In [21]:
jitendra = 44

In [22]:
id(jitendra)

1705346512

In [23]:
1705346512 - 1705346160

352

In [24]:
name = 'rajesh'

In [25]:
id(name)

2076135652576

In [26]:
last_name = 'sharma'

In [27]:
id(last_name)

2076135772264

In [28]:
first_name = 'rajesh'

In [29]:
id(first_name)

2076135652576

In [30]:
id(name) == id(first_name)

True

In [31]:
x = 257

In [32]:
id(x)

2076135540784

In [33]:
x = 30

In [34]:
id(x)

1705346064

In [35]:
rajesh = 257

In [36]:
id(rajesh)

2076135540784

In [37]:
rajesh = x

In [38]:
id(rajesh)

1705346064

In [39]:
y=268

In [40]:
id(y)

2076135541168

In [41]:
rajesh = 268

In [42]:
id(y), id(rajesh)

(2076135541168, 2076135541296)

#### **Scenario:I**

In [1]:
z = 306

In [2]:
id(z)

2031481143632

In [3]:
p = 887

In [4]:
id(z), id(p)

(2031481143632, 2031481144176)

In [5]:
p = 306

In [6]:
id(z), id(p)

(2031481143632, 2031481143344)

In [7]:
z = 887

In [8]:
id(z), id(p)

(2031481144272, 2031481143344)

#### **Scenario:II**

In [9]:
ww = 'raman'

In [10]:
id(ww)

2031481249664

In [11]:
yy = 'taman'

In [12]:
id(ww), id(yy)

(2031481249664, 2031481247368)

In [13]:
yy = 'raman'

In [14]:
id(ww), id(yy)

(2031481249664, 2031481249664)

In [15]:
ww = 'taman'

In [16]:
id(ww), id(yy)

(2031481283616, 2031481249664)

#### **Scenario:III**

In [1]:
u = 306

In [2]:
v = 406

In [3]:
id(u), id(v)

(1943513567376, 1943513567472)

In [4]:
v = 306

In [5]:
id(u), id(v)

(1943513567376, 1943513568272)

### **``Tuples``**

In [39]:
tup = ('ram','kumar','sharma','bharadwaj','saanvlodiya')

In [41]:
tup

('ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [42]:
tup[0], tup[-1]

('ram', 'saanvlodiya')

In [43]:
tup[::-1]

('saanvlodiya', 'bharadwaj', 'sharma', 'kumar', 'ram')

In [44]:
tup[::-2]

('saanvlodiya', 'sharma', 'ram')

### Editing a tuple

#### CASE-I :: Using List

In [45]:
tup = list(tup)

In [46]:
tup

['ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya']

In [47]:
tup[0] = 'jai'

In [48]:
tup = tuple(tup)

In [49]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

#### CASE-II :: Using Starred expression 
##### **By using * we can unpack the elements of the iterables and ** we can unpack the elements or values of dictionaries**

In [54]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [56]:
'hari', *tup[0:]

('hari', 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [57]:
'hari', *tup[1:]

('hari', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [58]:
'hari', 300, *tup[0:]

('hari', 300, 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [59]:
new_list = [100,200,300,400,500,'raje']

In [62]:
'a', *new_list

('a', 100, 200, 300, 400, 500, 'raje')

In [63]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [74]:
players_dict

{'name': ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'],
 'best_score': [100, 200, 300, 400, 500]}

In [79]:
dict_unpacked = "{name}{best_score}".format(**players_dict)

In [80]:
type(dict_unpacked)

str

In [81]:
dict_unpacked

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]"

In [88]:
dict_unpacked.split("][")

["['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'",
 '100, 200, 300, 400, 500]']

In [92]:
for val in dict_unpacked.split("]["):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'
100, 200, 300, 400, 500]

In [96]:
player_name = "{name}".format(**players_dict)
player_score = "{best_score}".format(**players_dict)

In [97]:
player_name

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']"

In [99]:
type(player_name)

str

In [103]:
for val in player_name.split('"'):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [98]:
player_score

'[100, 200, 300, 400, 500]'

In [104]:
type(player_score)

str

In [105]:
for val in player_score.split('"'):
    print(val)

[100, 200, 300, 400, 500]

In [106]:
players_dict['name']

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [109]:
players_dict.keys()

dict_keys(['name', 'best_score'])

In [108]:
players_dict.values()

dict_values([['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'], [100, 200, 300, 400, 500]])