In [1]:
import keyword

In [2]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [3]:
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
len(keyword.kwlist)

33

### **``Identifiers``**

In [5]:
global_x = 1

In [6]:
global_x

1

In [7]:
global_x == 2

False

### **``Comments``**

In [8]:
"""
This is the next chapter of 
the 
module
1
"""

'\nThis is the next chapter of \nthe \nmodule\n1\n'

### **``Multi-line Statements``**

In [9]:
1 + 2 + 3 +\
4 + 5

15

### **``Python Memory Storage Location``**

In [10]:
rajesh = 30

In [11]:
id(rajesh)

1705346064

In [12]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [13]:
ram = 30

In [14]:
id(ram)

1705346064

In [15]:
jai = 32

In [16]:
id(jai)

1705346128

In [17]:
1705346128 - 1705346064

64

In [18]:
jeetu = 33

In [19]:
id(jeetu)

1705346160

In [20]:
1705346160 - 1705346128

32

In [21]:
jitendra = 44

In [22]:
id(jitendra)

1705346512

In [23]:
1705346512 - 1705346160

352

In [24]:
name = 'rajesh'

In [25]:
id(name)

2343775570496

In [26]:
last_name = 'sharma'

In [27]:
id(last_name)

2343775695960

In [28]:
first_name = 'rajesh'

In [29]:
id(first_name)

2343775570496

In [30]:
id(name) == id(first_name)

True

In [31]:
x = 257

In [32]:
id(x)

2343775418672

In [33]:
x = 30

In [34]:
id(x)

1705346064

In [35]:
rajesh = 257

In [36]:
id(rajesh)

2343775418864

In [37]:
rajesh = x

In [38]:
id(rajesh)

1705346064

In [39]:
y=268

In [40]:
id(y)

2343775418800

In [41]:
rajesh = 268

In [42]:
id(y), id(rajesh)

(2343775418800, 2343775418352)

#### **Scenario:I**

In [43]:
z = 306

In [44]:
id(z)

2343775418864

In [45]:
p = 887

In [46]:
id(z), id(p)

(2343775418864, 2343775419024)

In [47]:
p = 306

In [48]:
id(z), id(p)

(2343775418864, 2343775419568)

In [49]:
z = 887

In [50]:
id(z), id(p)

(2343775419024, 2343775419568)

#### **Scenario:II**

In [51]:
ww = 'raman'

In [52]:
id(ww)

2343775831184

In [53]:
yy = 'taman'

In [54]:
id(ww), id(yy)

(2343775831184, 2343775833928)

In [55]:
yy = 'raman'

In [56]:
id(ww), id(yy)

(2343775831184, 2343775831184)

In [57]:
ww = 'taman'

In [58]:
id(ww), id(yy)

(2343774371432, 2343775831184)

#### **Scenario:III**

In [1]:
ppp = 259

In [2]:
qqq = 209

In [3]:
id(ppp), id(qqq)

(2692384118864, 1705351792)

In [4]:
qqq = 259

In [5]:
id(ppp), id(qqq)

(2692384118864, 2692384118992)

##### **Python allocates the same memory location in case of integers when values are between the range of [-5, 256]. If values are outside this range then new memory location is used.**
##### **It is the pure python implementation as they believed that mostly integers of this range are used frequently.**

### **``Tuples``**

In [64]:
tup = ('ram','kumar','sharma','bharadwaj','saanvlodiya')

In [65]:
tup

('ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [66]:
tup[0], tup[-1]

('ram', 'saanvlodiya')

In [67]:
tup[::-1]

('saanvlodiya', 'bharadwaj', 'sharma', 'kumar', 'ram')

In [68]:
tup[::-2]

('saanvlodiya', 'sharma', 'ram')

### Editing a tuple

#### CASE-I :: Using List

In [69]:
tup = list(tup)

In [70]:
tup

['ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya']

In [71]:
tup[0] = 'jai'

In [72]:
tup = tuple(tup)

In [73]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

#### CASE-II :: Using Starred expression 
##### **By using * we can unpack the elements of the iterables and ** we can unpack the elements or values of dictionaries**

In [74]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [75]:
'hari', *tup[0:]

('hari', 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [76]:
'hari', *tup[1:]

('hari', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [77]:
'hari', 300, *tup[0:]

('hari', 300, 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [78]:
new_list = [100,200,300,400,500,'raje']

In [79]:
'a', *new_list

('a', 100, 200, 300, 400, 500, 'raje')

In [80]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [81]:
players_dict

{'name': ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'],
 'best_score': [100, 200, 300, 400, 500]}

In [82]:
dict_unpacked = "{name}{best_score}".format(**players_dict)

In [83]:
type(dict_unpacked)

str

In [84]:
dict_unpacked

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]"

In [85]:
dict_unpacked.split("][")

["['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'",
 '100, 200, 300, 400, 500]']

In [86]:
for val in dict_unpacked.split("]["):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'
100, 200, 300, 400, 500]

In [87]:
player_name = "{name}".format(**players_dict)
player_score = "{best_score}".format(**players_dict)

In [88]:
player_name

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']"

In [89]:
type(player_name)

str

In [90]:
for val in player_name.split('"'):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [91]:
player_score

'[100, 200, 300, 400, 500]'

In [92]:
type(player_score)

str

In [93]:
for val in player_score.split('"'):
    print(val)

[100, 200, 300, 400, 500]

In [94]:
players_dict['name']

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [95]:
players_dict.keys()

dict_keys(['name', 'best_score'])

In [96]:
players_dict.values()

dict_values([['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'], [100, 200, 300, 400, 500]])

### **``OPERATORS``**

In [8]:
## + , - , / , * , ** , % , // 
x, y = 15, 2 

print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x**y)
print(x//y)
print(x%y)

17
13
7.5
30
225
7
1

In [9]:
(-15%2)

1

In [10]:
(-15//2)

-8

In [11]:
(15//2)

7

In [20]:
(3==3) & (1==2)

False

In [32]:
if (3==3) & (1&2):
    print('hello')
else:
    print('not matched')

not matched

In [54]:
10<<4

160

### **``WHILE with ELSE``**

#### **``User-defined exception``**

In [105]:
class Error(Exception):
    pass

class LengthGreater(Error):
    pass

class LengthSmaller(Error):
    pass

In [116]:
scores = input("Enter batsment scores of last 5 five matches(comma separated)\n>")
player_runs = [int(val) for val in scores.split(",")]

idx = 0
total_runs = 0

try:
    if len(player_runs) > 5:
        length = len(player_runs)
        print("Provided scores are {}".format(player_runs))
        player_runs = player_runs[::-1][0:5]
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        raise LengthGreater
    elif len(player_runs) < 5:
        length = len(player_runs)
        print(player_runs)
        raise LengthSmaller
    else:
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        else:
            print('Reached higher index','\n')
except IndexError as exception:
    print(exception.__class__.__name__ +' :: '+ str(exception),'\n')
except LengthSmaller:
    print("You have entered scores of last {} matches. Kindly enter scores of last 5 matches.".format(length))
except LengthGreater:
    print("You have entered scores of last {} matches. We have considered the scores of only last 5 matches.".format(length))
finally:
    if total_runs > 400:
        print("Batsmen in really good form with an average score of {} in last 5 matches.".format(round(total_runs/5),2))
    else:
        print("Batsmen average score is {} in last 5 matches.".format(round(total_runs/5),2))

Enter batsment scores of last 5 five matches(comma separated)
> 40,50,60,70,80,90

Provided scores are [40, 50, 60, 70, 80, 90]
Last 5 matches scores are [90, 80, 70, 60, 50]
90

170

240

300

350

You have entered scores of last 6 matches. We have considered the scores of only last 5 matches
Batsmen average score is 70 in last 5 matches.

### **``FOR LOOPS``**

##### **STEP-WISE printing the numbers**

In [130]:
for i in range(4,41,4):
    print(i, i//3)

4 1
8 2
12 4
16 5
20 6
24 8
28 9
32 10
36 12
40 13

### **``BREAK and CONTINUE``**

In [144]:
nums = [num for num in range(1,21)]

In [145]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### **``BREAK the WHILE Loop after incrementing the value of i``**

In [176]:
i = 1
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    break;
    print('Outise HI')

1
2
4

In [177]:
i = 1.0
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    break;
    print('Outise HI')

Inside HI
3.0

##### **BREAK doesn't execute any code written after break command and CONTINUE restart the LOOP as soon it reads the continue statement.**

#### **``ODD and EVEN numbers via single FOR Loop``**

In [152]:
for val in nums:
    if val % 2 == 0:
        print('Even number',val)
        continue
    print('Odd number', val)

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10
Odd number 11
Even number 12
Odd number 13
Even number 14
Odd number 15
Even number 16
Odd number 17
Even number 18
Odd number 19
Even number 20