### **``Functions``**

In [7]:
def print_name(name):
    """This function prints the name of the person."""
    print(name)

In [5]:
print_name('Rajesh')

Rajesh

In [8]:
print_name.__doc__

'This function prints the name of the person.'

#### **Write a python program to find the HCF(Highest common factor of two numbers.**

In [21]:
num1 = 98
num2 = 78

In [22]:
def compute_hcf(num1, num2):
    """
    This function will compute the HCF of the given numbers.
    """
    if num1 > num2:
        smaller = num2
    else:
        smaller = num1

    hcf = []

    for num in range(1,smaller+1):
        if num1%num == 0 and num2%num == 0:
            hcf.append(num)
    return hcf[-1]

In [23]:
print("HCF of 98 and 78 is {}".format(compute_hcf(num1,num2)))

HCF of 98 and 78 is 2

In [24]:
num1, num2 = 4,16

In [25]:
print("HCF of {} and {} is {}".format(num1, num2, compute_hcf(num1,num2)))

HCF of 4 and 16 is 4

In [26]:
num1, num2 = 16, 96

In [27]:
print("HCF of {} and {} is {}".format(num1, num2, compute_hcf(num1,num2)))

HCF of 16 and 96 is 16

##### **ABS**

In [29]:
abs(-44545)

44545

In [30]:
abs('Function name')

TypeError: bad operand type for abs(): 'str'

In [31]:
abs(-89.8475)

89.8475

##### **DIVMOD**

In [33]:
divmod(4,2)             # Returns quotient and remainder

(2, 0)

In [34]:
divmod(8,3)

(2, 2)

##### **ALL**

In [35]:
all([1,2,3,4])                # it returns the bool(x) or bool for all values of x

True

In [36]:
all([1,2,3,4,])

True

In [37]:
all([1,2,3,4,0])              # 0 in python is False internally thus it returned False

False

In [38]:
all([False,1,2,3,4])

False

In [39]:
bool(7)

True

In [41]:
bool('X')

True

In [42]:
bool(0)

False

In [43]:
bool(-1)

True

##### **DIR**

In [44]:
import pandas

In [46]:
print(dir(pandas))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Panel', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__Datetime', '__DatetimeSub', '__SparseArray', '__SparseArraySub', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__git_version__', '__loader__', '__name__', '__numpy', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p16', '_np_version_under1p17', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

##### **ENUMERATE**

In [48]:
numbers = [10,20,30,40,50]

for num1 , num2 in enumerate(numbers):
    print(num1, ' || ', num2)

0  ||  10
1  ||  20
2  ||  30
3  ||  40
4  ||  50

In [50]:
for idx, num in enumerate(numbers):
    print("Index ---> {} && Number ---> {}".format(idx,num))

Index ---> 0 && Number ---> 10
Index ---> 1 && Number ---> 20
Index ---> 2 && Number ---> 30
Index ---> 3 && Number ---> 40
Index ---> 4 && Number ---> 50

###### **We can also change the starting point of the index**

In [51]:
for idx, num in enumerate(numbers,500):
    print(idx, ' ||| ', num)

500  |||  10
501  |||  20
502  |||  30
503  |||  40
504  |||  50

#### **``FILTER``**
##### **It works or applies function on every element.**

In [59]:
def fil_f(num):
    return num >= abs(num)

In [60]:
list(filter(fil_f,[1,2,3,4,5,6,7,8,9]))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
tuple(filter(fil_f,[1,2,3,4,5,6,7,8,9]))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [62]:
set(filter(fil_f,[1,2,3,4,5,6,7,8,9]))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [63]:
set(filter(fil_f,[1,2,3,4,5,6,7,8,9,0,-1,-2,-3,-4]))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

#### **``ISINSTANCE``**
##### **We can check whether the object belongs to the particular class or category.**

In [64]:
scores = {10,39,89,99,105,175}

In [65]:
isinstance(scores,list)

False

In [66]:
isinstance(scores,dict)

False

In [67]:
isinstance(scores,tuple)

False

In [68]:
isinstance(scores,set)

True

#### **``MAP``**
##### **Applies the function on every element.**

In [69]:
def divide_num_by_4(num):
    return num/4

In [71]:
list(map(divide_num_by_4,scores))

[24.75, 9.75, 26.25, 2.5, 43.75, 22.25]

#### **``REDUCE``**
##### **It works as a rolling function and applies the function on two elements.**

In [72]:
from functools import reduce

In [76]:
def cume(val1, val2):
    return val1+val2

In [74]:
nums = [1,2,3,4,5]

In [77]:
reduce(cume,nums)

15

#### **``KEYWORD ARGUMENTS``**

In [116]:
def hello_world(**kwargs):
    return (kwargs['first_name'], kwargs['middle_name'],kwargs['last_name'])

In [117]:
hello_world(first_name='Rajesh',middle_name='Kumar',last_name='sharma',an_name='titu')

('Rajesh', 'Kumar', 'sharma')

In [108]:
%timeit hello_world(first_name='Rajesh',middle_name='Kumar',last_name='sharma')

506 ns ± 9.48 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [118]:
def hello_world(**kwargs):
    print (kwargs['first_name'], kwargs['middle_name'],kwargs['last_name'])

In [119]:
hello_world(first_name='Rajesh',middle_name='Kumar',last_name='sharma')

Rajesh Kumar sharma

In [120]:
hello_world(first_name='Rajesh',middle_name='Kumar',last_name='sharma',an_name='titu')

Rajesh Kumar sharma

#### **``Arbitary Arguments``**

In [129]:
def name_printing(*names):
    for l_name in names:
        print("First name is Rajesh and Last name is {0}".format(l_name))

In [132]:
name_printing('sharma','kumar','kapoor')

First name is Rajesh and Last name is sharma
First name is Rajesh and Last name is kumar
First name is Rajesh and Last name is kapoor

#### **``RECURSIVE FUNCTIONS``**
##### **Function calling itself is a recursive functions.**
##### **These functions are more expensive in memory consumption and hard to debug.**

In [133]:
def factorial(num):
    return num if num == 1 else num * factorial(num-1)

In [134]:
factorial(5)

120

In [135]:
def fibonacci(num):
    return num if num <=1 else fibonacci(num-1) + fibonacci(num-2)

In [136]:
nums = range(0,10)

In [138]:
for num in nums:
    print(fibonacci(num))

0
1
1
2
3
5
8
13
21
34

#### **``LAMBDA Functions``**

In [148]:
sqr = lambda x: x**2

In [149]:
[sqr(num) for num in nums]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [150]:
sum_of_2s = lambda x,y : x+y

In [151]:
sum_of_2s(3,5)

8

In [152]:
nums = [1,2,3,4,5,6,7,8,9]

In [153]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
from functools import reduce

In [157]:
sum_list = reduce(lambda x,y:x+y,nums)

In [158]:
sum_list

45

In [168]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
reduce(lambda x,y:x+y,map(lambda x : x/2,filter(lambda x: x%2==0,nums)))

10.0

#### **``FILE HANDLING``**