## **``SET-1 Questions and Answers``**

#### **1. Print the odd and even numbers from 1 to 20 in a single for loop with a tag of odd and even.**

In [1]:
nums = [num for num in range(1,21)]

In [2]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [21]:
for num in nums:
    if num % 2 == 0:
        print("Even number :: {}".format(num))
        continue
    print("Odd number :: {}".format(num))

Odd number :: 1
Even number :: 2
Odd number :: 3
Even number :: 4
Odd number :: 5
Even number :: 6
Odd number :: 7
Even number :: 8
Odd number :: 9
Even number :: 10
Odd number :: 11
Even number :: 12
Odd number :: 13
Even number :: 14
Odd number :: 15
Even number :: 16
Odd number :: 17
Even number :: 18
Odd number :: 19
Even number :: 20

#### **2. Print the odd and even numbers from 1 to 20 via LIST COMPREHENSION.**

In [41]:
even_nums = [num for num in range(1,21) if num%2 == 0]

odd_nums = [num for num in range(1,21) if num%2 != 0]

In [42]:
even_nums, odd_nums

([2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [1, 3, 5, 7, 9, 11, 13, 15, 17, 19])

#### **3. Print the multiple of 4 till 40 along with multiple of 2 via LIST COMPREHENSION.**

In [61]:
[("4's muls: {} |||| 2's muls: {}".format(num,int(num/2))) for num in range(4,41) if num%4 == 0]

["4's muls: 4 |||| 2's muls: 2",
 "4's muls: 8 |||| 2's muls: 4",
 "4's muls: 12 |||| 2's muls: 6",
 "4's muls: 16 |||| 2's muls: 8",
 "4's muls: 20 |||| 2's muls: 10",
 "4's muls: 24 |||| 2's muls: 12",
 "4's muls: 28 |||| 2's muls: 14",
 "4's muls: 32 |||| 2's muls: 16",
 "4's muls: 36 |||| 2's muls: 18",
 "4's muls: 40 |||| 2's muls: 20"]

#### **4. Print the numbers which are multiples of 4 from range 4 to 40 and which gives quotient greater than 10 after dividing 50 by the number.**

In [66]:
[num for num in range(4,41) if num%4 == 0 if 50//num > 2]

[4, 8, 12, 16]

In [68]:
50//4         # --> Floor division

12

#### **5. Edit the tuple via LIST and STARRED Expression.**

In [90]:
tup1 = (2,3,4,5,6)

In [91]:
tup1

(2, 3, 4, 5, 6)

In [70]:
tup1[1]

3

In [72]:
tup1[3:]

(5, 6)

In [73]:
tup1[3] = 7

TypeError: 'tuple' object does not support item assignment

#### **Via LIST**

In [74]:
tup1 = list(tup1)

In [75]:
tup1[3] = 999

In [76]:
tup1 = tuple(tup1)

In [77]:
tup1

(2, 3, 4, 999, 6)

#### **Via STARRED Expression**

In [85]:
(*tup1,)

(2, 3, 4, 999, 6)

In [86]:
name = "raman"

In [87]:
(name, *tup1)

('raman', 2, 3, 4, 999, 6)

In [89]:
(*tup1, name*3)

(2, 3, 4, 999, 6, 'ramanramanraman')