In [1]:
import keyword

In [2]:
dir(keyword)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'kwlist',
 'main']

In [4]:
keyword.iskeyword('if')

True

In [5]:
keyword.iskeyword('tutu')

False

In [3]:
(keyword.kwlist)

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
len(keyword.kwlist)

33

### **``Identifiers``**

In [5]:
global_x = 1

In [6]:
global_x

1

In [7]:
global_x == 2

False

### **``Comments``**

In [8]:
"""
This is the next chapter of 
the 
module
1
"""

'\nThis is the next chapter of \nthe \nmodule\n1\n'

### **``Multi-line Statements``**

In [9]:
1 + 2 + 3 +\
4 + 5

15

### **``Python Memory Storage Location``**

In [10]:
rajesh = 30

In [11]:
id(rajesh)

1705346064

In [12]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [13]:
ram = 30

In [14]:
id(ram)

1705346064

In [15]:
jai = 32

In [16]:
id(jai)

1705346128

In [17]:
1705346128 - 1705346064

64

In [18]:
jeetu = 33

In [19]:
id(jeetu)

1705346160

In [20]:
1705346160 - 1705346128

32

In [21]:
jitendra = 44

In [22]:
id(jitendra)

1705346512

In [23]:
1705346512 - 1705346160

352

In [24]:
name = 'rajesh'

In [25]:
id(name)

2343775570496

In [26]:
last_name = 'sharma'

In [27]:
id(last_name)

2343775695960

In [28]:
first_name = 'rajesh'

In [29]:
id(first_name)

2343775570496

In [30]:
id(name) == id(first_name)

True

In [31]:
x = 257

In [32]:
id(x)

2343775418672

In [33]:
x = 30

In [34]:
id(x)

1705346064

In [35]:
rajesh = 257

In [36]:
id(rajesh)

2343775418864

In [37]:
rajesh = x

In [38]:
id(rajesh)

1705346064

In [39]:
y=268

In [40]:
id(y)

2343775418800

In [41]:
rajesh = 268

In [42]:
id(y), id(rajesh)

(2343775418800, 2343775418352)

#### **Scenario:I**

In [43]:
z = 306

In [44]:
id(z)

2343775418864

In [45]:
p = 887

In [46]:
id(z), id(p)

(2343775418864, 2343775419024)

In [47]:
p = 306

In [48]:
id(z), id(p)

(2343775418864, 2343775419568)

In [49]:
z = 887

In [50]:
id(z), id(p)

(2343775419024, 2343775419568)

#### **Scenario:II**

In [51]:
ww = 'raman'

In [52]:
id(ww)

2343775831184

In [53]:
yy = 'taman'

In [54]:
id(ww), id(yy)

(2343775831184, 2343775833928)

In [55]:
yy = 'raman'

In [56]:
id(ww), id(yy)

(2343775831184, 2343775831184)

In [57]:
ww = 'taman'

In [58]:
id(ww), id(yy)

(2343774371432, 2343775831184)

#### **Scenario:III**

In [1]:
ppp = 259

In [2]:
qqq = 209

In [3]:
id(ppp), id(qqq)

(2692384118864, 1705351792)

In [4]:
qqq = 259

In [5]:
id(ppp), id(qqq)

(2692384118864, 2692384118992)

##### **Python allocates the same memory location in case of integers when values are between the range of [-5, 256]. If values are outside this range then new memory location is used.**
##### **It is the pure python implementation as they believed that mostly integers of this range are used frequently.**

### **``Tuples``**

In [64]:
tup = ('ram','kumar','sharma','bharadwaj','saanvlodiya')

In [65]:
tup

('ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [66]:
tup[0], tup[-1]

('ram', 'saanvlodiya')

In [67]:
tup[::-1]

('saanvlodiya', 'bharadwaj', 'sharma', 'kumar', 'ram')

In [68]:
tup[::-2]

('saanvlodiya', 'sharma', 'ram')

### Editing a tuple

#### CASE-I :: Using List

In [69]:
tup = list(tup)

In [70]:
tup

['ram', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya']

In [71]:
tup[0] = 'jai'

In [72]:
tup = tuple(tup)

In [73]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

#### CASE-II :: Using Starred expression 
##### **By using * we can unpack the elements of the iterables and ** we can unpack the elements or values of dictionaries**

In [74]:
tup

('jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [75]:
'hari', *tup[0:]

('hari', 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [76]:
'hari', *tup[1:]

('hari', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [77]:
'hari', 300, *tup[0:]

('hari', 300, 'jai', 'kumar', 'sharma', 'bharadwaj', 'saanvlodiya')

In [78]:
new_list = [100,200,300,400,500,'raje']

In [153]:
1, *(1,2,3,4,(5,6,7))

(1, 1, 2, 3, 4, (5, 6, 7))

In [156]:
a =()
a

()

In [79]:
'a', *new_list

('a', 100, 200, 300, 400, 500, 'raje')

In [80]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [81]:
players_dict

{'name': ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'],
 'best_score': [100, 200, 300, 400, 500]}

In [82]:
dict_unpacked = "{name}{best_score}".format(**players_dict)

In [83]:
type(dict_unpacked)

str

In [84]:
dict_unpacked

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'][100, 200, 300, 400, 500]"

In [85]:
dict_unpacked.split("][")

["['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'",
 '100, 200, 300, 400, 500]']

In [86]:
for val in dict_unpacked.split("]["):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'
100, 200, 300, 400, 500]

In [87]:
player_name = "{name}".format(**players_dict)
player_score = "{best_score}".format(**players_dict)

In [88]:
player_name

"['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']"

In [89]:
type(player_name)

str

In [90]:
for val in player_name.split('"'):
    print(val)

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [91]:
player_score

'[100, 200, 300, 400, 500]'

In [92]:
type(player_score)

str

In [93]:
for val in player_score.split('"'):
    print(val)

[100, 200, 300, 400, 500]

In [94]:
players_dict['name']

['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']

In [95]:
players_dict.keys()

dict_keys(['name', 'best_score'])

In [96]:
players_dict.values()

dict_values([['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh'], [100, 200, 300, 400, 500]])

In [158]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

### **``OPERATORS``**

In [8]:
## + , - , / , * , ** , % , // 
x, y = 15, 2 

print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x**y)
print(x//y)
print(x%y)

17
13
7.5
30
225
7
1

In [8]:
15%2

1

In [9]:
(-15%2)

1

In [7]:
-15/2

-7.5

In [1]:
(-15//2)

-8

In [5]:
15.9/2

7.95

In [11]:
(15//2)

7

In [22]:
10&4, 10|5, 1|2

(0, 15, 3)

In [26]:
a = b =4
i=0
while i in range(0,4):
    if a == b:
        print('hello')
        i+=1
    continue
    print('ramu')

hello
hello
hello
hello

In [35]:
test_tup = (12,3,4,5,66,)
print(isinstance(a,tuple))
print(isinstance(test_tup,tuple))
print(isinstance(test_tup,(tuple,list)))

False
True
True

In [20]:
1&2

0

In [20]:
(3==3) & (1==2)

False

In [17]:
2&4

0

In [12]:
if (3==3) & (1&2):
    print('hello')
else:
    print('not matched')

not matched

In [54]:
10<<4

160

In [6]:
30 is not 30

False

In [7]:
30 is not 35

True

### **``WHILE with ELSE``**

#### **``User-defined exception``**

In [43]:
class Error(Exception):
    pass

class LengthGreater(Error):
    pass

class LengthSmaller(Error):
    pass

In [69]:
try:
    player_runs = []
    idx = 0
    total_runs = 0
    scores = input("Enter batsment scores of last 5 five matches(comma separated)\n>")
    player_runs = [int(val) for val in scores.split(",")]
except ValueError as exception:
    print('\n',exception.__class__.__name__ +' :: '+ 'Wrong input or no input. ' + str(exception),'\n')

try:
    if len(player_runs) > 5:
        length = len(player_runs)
        print("Provided scores are {}".format(player_runs))
        player_runs = player_runs[::-1][0:5]
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        raise LengthGreater
    elif len(player_runs) < 5 and len(player_runs) > 0:
        length = len(player_runs)
        print(player_runs)
        raise LengthSmaller
    elif len(player_runs) == 0:
        print("Kindly check the entered data.")
    else:
        print("Last 5 matches scores are {}".format(player_runs))
        while idx < len(player_runs):
            total_runs += player_runs[idx]
            idx +=1
            print(total_runs,'\n')
        else:
            print('Reached higher index','\n')
except IndexError as exception:
    print(exception.__class__.__name__ +' :: '+ str(exception),'\n')
except LengthSmaller:
    print("You have entered scores of last {} matches. Kindly enter scores of last 5 matches.".format(length))
except LengthGreater:
    print("You have entered scores of last {} matches. We have considered the scores of only last 5 matches.".format(length))
finally:
    if total_runs > 400:
        print("\nBatsmen in really good form with an average score of {} in last 5 matches.".format(round(total_runs/5),2))
    elif total_runs == 0:
        print("")
    else:
        print("\nBatsmen average score is {} in last 5 matches.".format(round(total_runs/5),2))

Enter batsment scores of last 5 five matches(comma separated)
> 4,5,6,7,8,9,0,34,5,6,7,8,9

Provided scores are [4, 5, 6, 7, 8, 9, 0, 34, 5, 6, 7, 8, 9]
Last 5 matches scores are [9, 8, 7, 6, 5]
9

17

24

30

35

You have entered scores of last 13 matches. We have considered the scores of only last 5 matches.

Batsmen average score is 7 in last 5 matches.

In [84]:
bool(9),bool(0),bool(1),bool(True),bool('True'),bool('False'),bool(False)

(True, False, True, True, True, True, False)

In [80]:
all([3,4,5,6,7,8,'m','True','False',True,False])

False

In [81]:
any([3,4,5,6,7,8,'m','True','False',True,False])

True

In [72]:
divmod(15.5,2)

(7.0, 1.5)

In [85]:
from functools import reduce

In [86]:
(lambda x, y : x + y)(2,3)

5

In [95]:
add_lambda = lambda x,y:x+y

In [108]:
reduce(add_lambda, [1, 2, 3, 4, 5])

15

In [109]:
filter_lambda = lambda x: x%2==0

In [111]:
list(filter(filter_lambda,[1,2,3,4,5,6,7,8,9]))

[2, 4, 6, 8]

In [112]:
map_lambda = lambda x: x**2

In [114]:
list(map(map_lambda,[1,2,3,4,5,6,7,8,9]))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [115]:
players_dict = {'name':['rajesh','ramesh','suresh','mohitest','jyotesh'],
                'best_score':[100,200,300,400,500]}

In [123]:
for i,j in enumerate(players_dict):
    print(i,"--> Index")
    print(j,"--> key")

0 --> Index
name --> key
1 --> Index
best_score --> key

In [121]:
for i, (k,v) in enumerate(players_dict.items()):
    print("key :: {}".format(k))
    print("Values :: {}".format(v))

key :: name
Values :: ['rajesh', 'ramesh', 'suresh', 'mohitest', 'jyotesh']
key :: best_score
Values :: [100, 200, 300, 400, 500]

In [137]:
hasattr(players_dict,'keys'),hasattr(players_dict,'values'), hasattr(players_dict,'suresh'),hasattr(players_dict,'best_score')

(True, True, False, False)

In [144]:
getattr(players_dict,'keys')

In [133]:
class players:
    name = 'Rama'
    last_name = 'Shyama'

In [139]:
hasattr(players,'name')

True

In [140]:
getattr(players,'name')

'Rama'

### **``FOR LOOPS``**

##### **STEP-WISE printing the numbers**

In [130]:
for i in range(4,41,4):
    print(i, i//3)

4 1
8 2
12 4
16 5
20 6
24 8
28 9
32 10
36 12
40 13

### **``BREAK and CONTINUE``**

In [144]:
nums = [num for num in range(1,21)]

In [145]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### **``BREAK the WHILE Loop after incrementing the value of i``**

In [176]:
i = 1
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    break;
    print('Outise HI')

1
2
4

In [177]:
i = 1.0
while i < max(nums):
    if type(i) == int:
        print(i)
        i += 1
        print(i)
    else:
        print('Inside HI')
    i += 2
    print(i)
    break;
    print('Outise HI')

Inside HI
3.0

##### **BREAK doesn't execute any code written after break command and CONTINUE restart the LOOP as soon it reads the continue statement.**

#### **``ODD and EVEN numbers via single FOR Loop``**

In [152]:
for val in nums:
    if val % 2 == 0:
        print('Even number',val)
        continue
    print('Odd number', val)

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10
Odd number 11
Even number 12
Odd number 13
Even number 14
Odd number 15
Even number 16
Odd number 17
Even number 18
Odd number 19
Even number 20

### **``LISTS``**

In [1]:
names = ['dhoni','rahul','sachin']

In [2]:
names

['dhoni', 'rahul', 'sachin']

In [3]:
names.append('raja')

In [4]:
names

['dhoni', 'rahul', 'sachin', 'raja']

In [5]:
names.insert(1,'kumble')

In [6]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'raja']

In [7]:
names.remove('raja')

In [8]:
names

['dhoni', 'kumble', 'rahul', 'sachin']

In [9]:
names.extend(['kohli','ishant'])

In [10]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'kohli', 'ishant']

In [11]:
names.append(['mayank',20])

In [12]:
names

['dhoni', 'kumble', 'rahul', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [15]:
names.pop(2)

'rahul'

In [16]:
names

['dhoni', 'kumble', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [17]:
del names[0]

In [18]:
names

['kumble', 'sachin', 'kohli', 'ishant', ['mayank', 20]]

In [19]:
names.reverse()

In [24]:
score = [10,20,30,40]

In [36]:
score.sort(reverse=True)

In [37]:
score

[40, 30, 20, 10]

In [62]:
names.extend(['a','bb','ccc','dddddddd'])

In [63]:
names

[['mayank', 20],
 'ishant',
 'kohli',
 'sachin',
 'kumble',
 'a',
 'bb',
 'ccc',
 'dddddddd']

In [66]:
def return_len(val):
    return len(val)

In [69]:
return_len(names[2])

5

In [72]:
score

[40, 30, 20, 10]

In [73]:
score.extend([5,90,12,19,15,29,56])

In [74]:
score

[40, 30, 20, 10, 5, 90, 12, 19, 15, 29, 56]

In [75]:
score.sort()

In [76]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [86]:
names[1:]

['ishant', 'kohli', 'sachin', 'kumble', 'a', 'bb', 'ccc', 'dddddddd']

In [80]:
sorted(names[1:],key=return_len)

['a', 'bb', 'ccc', 'kohli', 'ishant', 'sachin', 'kumble', 'dddddddd']

In [82]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [83]:
score[::2]

[5, 12, 19, 29, 40, 90]

In [84]:
score[2::2]

[12, 19, 29, 40, 90]

In [85]:
score[::2] + score[2::2]

[5, 12, 19, 29, 40, 90, 12, 19, 29, 40, 90]

In [89]:
(score[::2] + score[2::2]).count(12)

2

In [90]:
(score[::2] + score[2::2]).count(90)

2

In [91]:
for val in (score[::2] + score[2::2]):
    print(val)

5
12
19
29
40
90
12
19
29
40
90

In [93]:
for idx in range(len((score[::2] + score[2::2]))):
    print(idx)

0
1
2
3
4
5
6
7
8
9
10

In [96]:
[((num/2),num) for num in range(4,41,4)]

[(2.0, 4),
 (4.0, 8),
 (6.0, 12),
 (8.0, 16),
 (10.0, 20),
 (12.0, 24),
 (14.0, 28),
 (16.0, 32),
 (18.0, 36),
 (20.0, 40)]

#### **``Transpose a MATRIX using LISTS``**

In [97]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

In [98]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [110]:
lst = []

for i in range(0,4):
    tmp_lst = []
    for row in matrix:
        print(row)
        print(row[i])
        print('----')
        tmp_lst.append(row[i])
    lst.append(tmp_lst)

print(lst)
print('****')
print(tmp_lst)

[1, 2, 3, 4]
1
----
[5, 6, 7, 8]
5
----
[9, 10, 11, 12]
9
----
[1, 2, 3, 4]
2
----
[5, 6, 7, 8]
6
----
[9, 10, 11, 12]
10
----
[1, 2, 3, 4]
3
----
[5, 6, 7, 8]
7
----
[9, 10, 11, 12]
11
----
[1, 2, 3, 4]
4
----
[5, 6, 7, 8]
8
----
[9, 10, 11, 12]
12
----
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]
****
[4, 8, 12]

In [112]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [113]:
[[row[i] for row in matrix] for i in range(0,4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [115]:
mixed_lst = [(1,2,3,4,5),4,5,6,7,[6,7,8,9]]

In [116]:
mixed_lst

[(1, 2, 3, 4, 5), 4, 5, 6, 7, [6, 7, 8, 9]]

In [120]:
type(mixed_lst)

list

In [117]:
mixed_tuple = (12,3,4,5,[4,5,6,7],[5,6,7,8])

In [118]:
mixed_tuple

(12, 3, 4, 5, [4, 5, 6, 7], [5, 6, 7, 8])

In [119]:
type(mixed_tuple)

tuple

##### **``TUPLES of Single ELEMENT``**

In [20]:
single_el_tup = ('rajesh',)

In [21]:
single_el_tup

('rajesh',)

In [22]:
type(single_el_tup)

tuple

In [23]:
singl_el = ('rajesh',1,2,3)

In [24]:
singl_el

('rajesh', 1, 2, 3)

In [126]:
type(singl_el)

str

In [127]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [135]:
score[0:4] * 2

[5, 10, 12, 15, 5, 10, 12, 15]

In [133]:
(single_el_tup * 4)

('rajesh', 'rajesh', 'rajesh', 'rajesh')

In [138]:
del single_el_tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [149]:
score

[5, 10, 12, 15, 19, 20, 29, 30, 40, 56, 90]

In [160]:
new_score = score[-5:-1]

In [161]:
new_score

[29, 30, 40, 56]

In [162]:
tuple(score[-9:-2])

(12, 15, 19, 20, 29, 30, 40)

In [167]:
tuple(sorted(score[-9:-2],reverse=True))

(40, 30, 29, 20, 19, 15, 12)

### **``SET``**
#### **One important point with sets is that it used flower braces for its definition. However, by using the same flower braces dictionaries are also defined. Having said that the beauty of python is if we define key and values inside flower braces then it will treat it as a dictionary else it will treat it as a SET.**

In [16]:
set1 = {1,2,3,4,5}

In [17]:
type(set1)

set

In [169]:
set1

{1, 2, 3, 4, 5}

In [18]:
set1.update([3,4,5,6,7,8,'rajesh'])

In [19]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 'rajesh'}

In [174]:
set1.add(10)

In [175]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [179]:
set1.update((1,11,22), [33,44,55,66,0])

In [180]:
set1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 22, 33, 44, 55, 66}

In [187]:
set1.discard(66)

In [188]:
set1

{0, 1, 2, 3, 4, 5, 6, 8, 10, 11, 22, 33, 44, 55}

In [190]:
set1.remove(4)

In [191]:
set1

{0, 1, 2, 3, 5, 6, 8, 10, 11, 22, 33, 44, 55}

In [199]:
set1.pop()

1

In [200]:
set1

{2, 3, 5, 6, 8, 10, 11, 22, 33, 44, 55}

In [201]:
set1.clear()

In [202]:
set1

set()

In [25]:
A = {1,2,3,4,5}

B = {3,4,5,6,7}

In [26]:
A.symmetric_difference(B)        # Unique of both the sets means only A and only B elements

{1, 2, 6, 7}

##### **``1. Starred Expression``**

In [51]:
{*(A - B),*(B - A)}

{1, 2, 6, 7}

##### **``2. Normal SET operations``**

In [63]:
(A - B).union(B - A)

{1, 2, 6, 7}

In [62]:
(A.difference(B).union(B.difference(A))).intersection(A.union(B))

{1, 2, 6, 7}

In [204]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7}

In [212]:
A.intersection(B)

{3, 4, 5}

In [205]:
A & B

{3, 4, 5}

In [206]:
A | B

{1, 2, 3, 4, 5, 6, 7}

In [208]:
A - B                  # elements which are in A but not in B

{1, 2}

In [210]:
B - A                  # elements which are in B but not in A

{6, 7}

In [211]:
A.symmetric_difference(B)

{1, 2, 6, 7}

In [213]:
A ^ B

{1, 2, 6, 7}

In [214]:
C = {3,4,5}

In [215]:
C.issubset(A)

True

In [216]:
C.issuperset(B)

False

In [217]:
B.issuperset(C)

True

In [219]:
A[1:]

TypeError: 'set' object is not subscriptable

### **``Frozen SETS``**

##### **These are the fixed or unchangable SETS.**

In [220]:
AA = frozenset({1,2,3,4})

In [221]:
BB = frozenset({3,4,5,6})

In [222]:
AA - BB

frozenset({1, 2})

In [223]:
BB- AA

frozenset({5, 6})

In [225]:
AA.union(BB)

frozenset({1, 2, 3, 4, 5, 6})

In [226]:
BB.union(AA)

frozenset({1, 2, 3, 4, 5, 6})

In [227]:
BB.intersection(AA)

frozenset({3, 4})

In [224]:
AA.intersection(BB)

frozenset({3, 4})

#### **``Deep v/s Shallow Copy``**
##### **Deep copy -- Altogether creates a new object with the content of copied object. Both objects are independent and with no references to each other. Use .copy()**
##### **Shallow copy -- A new object is created with a reference to the memory location of the parent or copied object.**

In [145]:
csk = ['Dhoni','Ambati','Raina']

In [146]:
id(csk)

2885398876680

In [147]:
mps = csk

In [148]:
id(mps), id(csk)

(2885398876680, 2885398876680)

In [149]:
mps

['Dhoni', 'Ambati', 'Raina']

In [150]:
new_team = csk.copy()

In [151]:
id(new_team)

2885403768392

In [8]:
new_team

['Dhoni', 'Ambati', 'Raina']

In [9]:
csk.append('Bravo')

In [10]:
csk

['Dhoni', 'Ambati', 'Raina', 'Bravo']

In [11]:
id(csk)

2256601725960

In [12]:
mps

['Dhoni', 'Ambati', 'Raina', 'Bravo']

In [13]:
id(mps)

2256601725960

In [14]:
new_team

['Dhoni', 'Ambati', 'Raina']

In [15]:
id(new_team)

2256631261512