In [2]:
import pandas as pd

In [8]:
data = ((1,'raja','ram'),
        (2,'ramu','jaimu'),
        (3,'deepu','mastana'))

In [9]:
data

((1, 'raja', 'ram'), (2, 'ramu', 'jaimu'), (3, 'deepu', 'mastana'))

In [12]:
data = pd.DataFrame(data,columns=['num','f_name','l_name'])

In [17]:
data.to_excel('excel1.xlsx',sheet_name='data',encoding='unicode',index=False)